<h1>ember-concurrency</h1>

<p>
  This app shows a reproduction of a problem we have in our production code.
  We <code>perform</code> a large number of <code>ember-concurrency</code>
  <code>task</code>s (which lead to AJAX requests) and we want these to
  happen in a prioritised manner.
</p>

<ul>
  <li>{{#link-to 'routes.default'}}Standard implementation{{/link-to}}</li>
</ul>
