.tasks {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
  margin: 10px 0 20px;
  padding: 20px 0;
}

.task-display {
  color: #fff;
  font-weight: bold;
  border: 1px solid #000;
  margin: 0 .5em;
  padding: .2em .5em;
}

.task-display.is-inline {
  display: inline;
  margin: 0;
  padding: .1em .3em;
}

.task-display.is-queued {
  background: #f33;
}

.task-display.is-running {
  background: #f60;
}

.task-display.is-idle {
  background: #6f6;
  color: #000;
}
