<h1>Standard <code>ember-concurrency</code></h1>

<p>
  Below is a list of items. Each item kicks off a number of tasks...
</p>

<ul>
  {{#each model as |item|}}
    {{display-item item=item}}
  {{/each}}
</ul>